@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arapey", serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(119, 187, 149);
}
